.idea/
.vs/
.vscode/
coverage/
node_modules/

dotenv
*.proxies
success-*.png
screenshots/

*.wav
*.mp3
*.flac
*.exe
desktop.ini

twitch.json
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
